extends layout

block content
  h1 Recipe Grocery List

  each val, key in recipes
    h2 #{val.name}
    h3 Instructions
    ul
      li !{val.instructions}
    ol
      - for(var i = 0; i < ingredients[key].length; i++) {
          li #{ingredients[key][i].recipeingredients.quantity} #{ingredients[key][i].recipeingredients.measurement} #{ingredients[key][i].dataValues.name}
      - }